
.invalid-feedback{
    display: block;
}

.navdark {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
}
.whitetext {
    color: white !important;
    background-color: transparent !important;
}
.whiteback {
    background-color: white !important;
}
/*slider switch css */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
}
em {
    margin-right: 10px;
    font-size: 1rem;
    color: #11044c;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display:none;
}

.slider {
    background-color: #d1d1d1;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 3px;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 2px;
    content: "";
    height: 26px;
    left: 4px;
    border-radius: 50px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #11044c;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    height: 30px;
    border-radius: 34px;
}
.regionImage {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
    display: block;
}
.reg-img img.draggable{
    cursor: move;
    position:absolute;
    z-index: 9
}
.regionsUl {
    border: 0px solid #ccc;
    box-shadow: 0 0 0px #ccc;
    border-radius: 0px;
    background: #ffffff;
}
.regionsUl li{
    width: 100%;
    display: block;
    background: #11044c;
    margin-bottom: 3px!important;
    border-radius: 10px;
    color: #ffff;
}
.regionsUl .nav-link{
    color: #ffffff!important;
    border-radius: 10px;
}
.regionsUl .nav-link:hover,
.regionsUl .nav-link.hover{
    background-color: #1396e2;
    border-bottom: 2px solid #085e8f;
    border-radius: 10px;
}
.regionsUl .nav-link.hover-path{
    background-color: #1396e2;
    border-bottom: 2px solid #14557b;
    border-radius: 10px;
}
.regionsUl .nav-link.active {
    color: #ffffff!important;
    background-color: #1396e2!important;
    border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: 2px solid #085e8f!important;
    border-radius: 10px;
}
.regionsUl .nav-link span.float-right {
    width: auto;
    height: 26px;
    min-width: 26px;
    border-radius: 13px;
    display: inline-block;
    background: #fff;
    color: #000;
    text-align: center;
    line-height: 26px;
    padding: 0 5px;
}
.content-search .loading img {
    width: 150px;
    margin: 0 auto;
    display: block;
}
.search-in-regions{
    display: none;
    position: absolute;
    z-index: 12;
    width: 95%;
}
.search-in-regions .form-search {
    background: #160a50;
    padding: 3px;
    color: #fff;
    height: auto;
    margin-bottom: 15px;
}
.search-in-regions .form-search h2 {
    color: #d7d7d7;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    margin-top: -5px;
    margin-bottom: 10px;
}
.search-in-regions .form-search .search {
    color: #0821aa;
    background: rgb(255 255 255);
    border: 1px solid #cbcbcb;
}
.search-in-regions .form-search label {
    color: #ffffff;
}


.content-search {
    position: relative;
    z-index: 12;
    background: #ffffff;
    top: -15px;
    width: 100%;
    /*min-height: 150px;*/
    box-shadow: 0px 7px 15px -6px;
    max-height: 300px;
    overflow-x: auto;
    display: block;
}
.content-search .loading {
    position: absolute;
    background: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    left: 0;
    top: 0;
}

.branch-search {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px dotted #a29c9c !important;
    padding: 0 10px;
    position: relative;
}
.branch-search h3{
    font-size: 18px;
    line-height: 50px;
    cursor: pointer;
    transition: all ease-in-out .3s;
}
.branch-search:hover{
    background: #7ed7f6;
}
.branch-search::after{
    content: '';
    width: 0px;
    height: 100%;
    position: absolute;
    display: block;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    z-index: 1;
    background: #005183;
    top: 0;
    left: 0;
    transition: all ease-in-out .3s;
}
.branch-search:hover::after{
    content: '';
    width: 20px;
    transition: all ease-in-out .3s;
}
.branch-search:hover h3{
    padding-left: 15px;
}
.reg-img path{
    fill: #e1e1e1;
    stroke: #898989;
}
.reg-img path:hover{
    fill: #ac9002;
    cursor: pointer;
}
@keyframes animateFill {
    from{fill: #1d0686
    }
    to{fill: #11044C
    }
}
@keyframes animateBack {
    from{background: #5dbcf1
    }
    to{background: #1396E2
    }
}
.reg-img path:hover{
    fill: #11044C;
}
.reg-img path.hover{
    animation: animateFill infinite ease-in-out 2s;
}
.regionsUl .nav-link.hover{
    animation: animateBack infinite ease-in-out 2s;
}


.form-search .form-group {
    margin-bottom: 0rem;
    width: auto;
    margin-right: 5px;
}
.form-search  input[type=radio] {
    display: none;
}

.search-in-regions .form-search label {
    color: #ffffff;
    background: #038fcf;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0 10px;
    display: inline-block;
    margin-right: 10px;
    clear: both;
    cursor: pointer;
    position: relative;
}

.form-search input[type=radio]:checked + label {
    background: #e7ebee;
    color: #000;
}
.form-search input[type=radio]:checked + label::after {
    content: '';
    width: 12px;
    height: 8px;
    position: absolute;
    left: calc(50% - 10px);
    bottom: -8px;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background: #e7ebee;
    display: block;
}
/*  */
.searchInput {
    background: #e7ebee;
    padding: 10px;
}
.related-product-block .col-md-9{
    position: relative;
}
.RegionsNameInMap{
    position: fixed;
    z-index: 12;
    color: #ffffff;
    background: #034d86;
    padding:2px 5px;
    font-size: 12px;
    border-radius: 5px;
    display: none;
}
.iconSearch{
    z-index: 12;
    position: absolute;
    right: -0px;
    top: 0;
}
.linksReg{
    left: 500px;
    position: absolute;
    width: 240px;
    transition: all ease-in-out .4s;
}
#links.show .linksReg{
    left: -240px;
    transition: all ease-in-out .4s;
    position: absolute;
    width: 240px;
}
.linksReg a{
    text-decoration: none;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #005183;
    color: #d9d9d9;
    border-radius: 0;
    font-size: 18px;
}
.linksReg a:hover {
    text-decoration: none;
    background: #102a43;
    color:#fff;
}
#links i {
    width: 40px;
    height: 40px;
    background: #1396e2;
    display: block;
    line-height: 40px;
    text-align: center;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0px;
    cursor: pointer;
    transition: all ease-in-out .4s;
}
#links.show i {
    background: #11044C;
}
#searchIcon i {
    width: 40px;
    height: 40px;
    background: #1396e2;
    display: block;
    line-height: 40px;
    text-align: center;
    color: #fff;
    position: absolute;
    right: 0;
    top: 50px;
    cursor: pointer;
}
#mapIcon i{
    width: 40px;
    height: 40px;
    background: #1396e2;
    display: block;
    line-height: 40px;
    text-align: center;
    color: #fff;
    position: absolute;
    right: 5px;
    top: 100px;
    cursor: pointer;
}
.carPlatesDataTable{
    max-height:500px;
    overflow-x: auto;
    padding-right:50px;
}
.carPlatesDataTable table thead {
    background: #11044c;
    color: #fff;
}
.linkMark {
    margin-left: 30px;
    display: none;
    opacity: 0;
    background: #042c56;
    padding: 2px 5px;
    color: #fff;
    transition: all ease-in-out .4s;
    position: relative;
    z-index: 12;
    font-size: 12px;
}
.linkMark a{
    color: #ffffff;
}
.linkMark::after{
    content: '';
    width: 8px;
    height: 10px;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
    display: block;
    position: absolute;
    left: -7px;
    background: #042c56;
    top: calc(50% - 5px);
}
.markMap:hover .linkMark{
    display: inline-block;
    opacity: 1;
    margin-left: 5px;
    transition: all ease-in-out .4s;
    position: absolute;
    width: 100px;
}
.markMap::before {
    content: '';
    width: 4px;
    height: 4px;
    background: #11044C;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: 3px;
    left: 9px;
}
@keyframes afterAnimarion {
    from{
        width: 4px;
        height: 4px;
        border: 2px solid #11044C;
        opacity: 1;
        left: 9px;
        bottom: 3px;
    }
    to{
        width: 20px;
        height: 20px;
        border: 2px solid #11044C;
        opacity: 0;
        left:0px;
        bottom: -5px;
    }
}

.markMap.animation::after {
    content: '';
    width: 8px;
    height: 8px;
    border: 2px solid #11044C;
    opacity: 1;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: 3px;
    animation: afterAnimarion infinite ease-in-out .9s;
    left: 9px;
}

.showImageCarPlates{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
    text-align: center;
    height: 100vh;
    z-index: 9999;
    display: none;
}
.showImageCarPlates img{
    height: 80vh;
    width: auto;
    margin: 10vh auto;
}
.showImageCarPlates .close{
    opacity: 1;
    right: 50px;
    position: absolute;
    top: 50px;
    color: #fff;
    opacity: 1;
    z-index: 9999;
    font-size: 18px;
    border: 1px solid #fff;
    padding: 5px;
    cursor: pointer;
}
/**/
.iq-item-product-right-top{
    position: absolute;
    top: 22px;
    right: 11px;
}
.iq-product-cover img{
    width: 55%;
}
table.table-bordered.dataTable tbody th,
table.table-bordered.dataTable tbody td{
    vertical-align: middle;
    font-size: 12px;
}

table.table-bordered .btn{
    font-size: 12px!important;
}
.btn-success{
    background: #90218a !important;
    border-color:#90218a !important;
}
.large .thumbnail-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.large .ratting-item ,
.product_item .ratting-item {
    padding-top: 4px !important;
}
.product-miniature .thumbnail-container {
    padding: 15px 10px;
}
#links i,
#searchIcon i{
    right: 6px;
}
.btn-info{
    background: #179cd7!important;
}
.paginate_button.next,
.paginate_button.previous{
    padding: 0 6px;
}
.btn-danger {
    background: #e54e43  !important;
    border-color: #e54e43 ;
}
.btn-danger:hover{
    border-color: #000;
}
td img{
    margin: 5px;
}
.product_table img{
    width: auto;
    margin: 5px;
}
.iq-card .iq-card-header{
    border-radius: 0 0 6px 6px;
}
.content-page{
    padding-top: 100px;
}
.iq-card{
    margin-top: 5px;
}
.scroll-vertical-custom{
    width: fit-content;
}
.kt-avatar .kt-avatar__upload{
    right: -16px;
    top: -4px;
}
.kt-avatar .kt-avatar__upload i{
    color: #29abe2;
}
.kt-avatar .kt-avatar__upload:hover{
    background-color: #29abe2;

}
#myModalAssign .nav-tabs .nav-item a{
    background:#e4e4e4;
    margin: 4px 2px;
    border-radius: 20px;
    height: auto;
    font-size: 14px;
    line-height: 29px ;
    padding: 5px 14px;
}
#myModalAssign .nav-tabs .nav-link small{
    background-color: #2daae2cc;
}
.custom-checkbox {
    font-size: 14px;
    padding: 0;
    position: relative;
    margin: 5px;
    display: block;
}
.custom-checkbox p{
    padding-left: 25px;
    margin: 0;
}
.custom-checkbox input:checked ~ .checkmark{
    margin-top: 3px;
}
#pills-tabContent{
    margin-top: 10px !important;
}

.fa-check-square.True{
    margin: 0 3px;
}
.paginate_button.current {
    background: #179cd7;
    border-color: #179cd7;
}

#closeSearch {
    float: right;
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    right: 0;
    cursor: pointer;
}
body.sidebar-main .iq-sidebar{
    z-index: 10002;
}
.iq-navbar-custom .allshadow {
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
}

.iq-sidebar .iq-sidebar-logo,
.iq-sidebar .iq-sidebar-logo a{
    /*transition: none !important;*/
    transition: all ease-in-out 0.3s !important;
}
table.dataTable>thead .sorting:before,
table.dataTable>thead .sorting:after{
    top:0
}



/**************************/
/************************** config blade style ***************************/

.select-model h3{
    font-size: 20px;
    color: #565555;
}
.select-model select{

    min-width: 183px;
    display: flex;
    color: #444;
    border-radius: 0;
}
.dropdown-menu.main-dropdown{
    right: 0 !important;
    left: auto !important;
    transform: none !important;
    top:27px !important;
    border-radius: 0;
    box-shadow: 0px 0px 11px -8px rgb(45 69 95);
    min-width: 220px;
    padding: 0;
}
.dropdown-menu.main-dropdown .dropdown-item{
    padding: 0.75rem 1.5rem;
    border-bottom: 1px solid #f2eeee;
}

.dropdown-menu.main-dropdown .dropdown-item:hover{
    background:  #f6f7f8
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu .dropdown-menu.main-dropdown {
    top: 0 !important;
    right: 100% !important;
    margin-top: -1px;
}
.dropdown-submenu .test{
    position: relative;
}
.dropdown-submenu .test:after{
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    position: absolute;
    right: 13px;
    top: 50%;
}
.dropdown-menu.chart-type li{
    display: inline-block;
    width: calc(50% - 6px);
    padding: 0 3px;
}
.dropdown-menu.chart-type img{
    width: 75px;
    cursor: pointer;
    margin: 5px 8px;
    max-width: 89%;
}
.dropdown-item .show-icon{
    display: none;
    float: right;
    color: #29abe2;
    font-size: 16px;
    font-weight: 500;
}

g[aria-labelledby$="title"] {
    display: none !important;
}
/***/
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}



.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.box span{
    font-size: 14px;

}
.inputfile-4 + label {
    color: #6c757d;
    display: contents;
}

.inputfile-4:focus + label,
.inputfile-4.has-focus + label,
.inputfile-4 + label:hover {
    color: #333;
    box-shadow: none !important;
    outline: none !important;
    border: 0 !important;
}

.inputfile-4 + label figure {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ef1b2f;
    display: block;
    padding: 20px;
    margin: 0 auto 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.inputfile-4:focus + label figure,
.inputfile-4.has-focus + label figure,
.inputfile-4 + label:hover figure {
    background-color: #ef1b2f;
    box-shadow: none !important;
    outline: none !important;
    border: 0 !important;
}

.inputfile-4 + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}
/*tables*/
.theme-1.table .open {
    color: #017B2E;
    font-weight: bold;
}
.theme-1.table .open.warning{
    color: #D8BD13
}
.theme-1.table .open.danger{
    color: #F02020
}
.theme-1.table thead th {
    border-bottom: none;
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    border-bottom: 1px solid;
    /*background: #949494;*/
    background: #11044c;
}
.theme-1.table th {
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}
.theme-1.table td {
    border-bottom: 1px solid;


}
.table td,
.table th{
    padding: 0 5px;
    margin: 0;
    line-height: 40px;
    min-height: 40px;
    text-align: center;
}
.dropdown-menu.chart-type.tables-type{
    min-width:260px
}
.dropdown-menu.chart-type.tables-type li{
    width: 49%;
}
.dropdown-menu.chart-type.tables-type li a{
    padding: 2px;
}
.dropdown-menu.chart-type.tables-type li img{
    width: 100%;
    height: 100px;
}
.dropdown-menu.chart-type.tables-type .selected,
.dropdown-menu.chart-type.charts .selected{
    border: 1px solid #6b1e83;
    display: block;
}
.pagination nav{
    margin-left: auto;
    margin-right: auto;
}
.pagination.pg-blue .page-item.active .page-link{
    background-color: #11044c;
}

.iq-customer-box h3{
    font-size: 23px;
}
.dropdown-menu.main-dropdown.dropped{
    min-width: 300px;
}
.dropdown-menu.chart-type.dropped li{
    display: inline-block;
    width: 49%;
}
.dropdown-menu.chart-type.dropped  .child li{
    width: 100% !important;
}
.dropdown-menu.chart-type.dropped > li{
    padding: 3px 3px 2px 28px;
}
.dropdown-menu.chart-type.dropped li a{
    width: fit-content;
    width: 100%;
}
.dropdown-menu.chart-type.tables-type.dropped li img{
    width: 150px;
}
.dropped > li  .test:after{
    display: none;
}
.drop-icon{
    position: relative;
    position: absolute;
    left: 0px;
    top: 3px;
    padding: 5px !important;
    border: 0 !important;
    margin: 0 !important;
    width: fit-content;
    cursor: pointer;
}
.drop-icon:hover{
    background: transparent !important;
}
.drop-icon:after{
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    border-top-color: #11044C;
    border-bottom-color: #11044C;
}
.btn-filter:after{
    display: none;
}
.filter-content{
    padding: 20px 30px;
    left: auto !important;
    right: 0 !important;
    margin-top: 10px;
    border-radius: 0;
    border: 0;
    box-shadow: 1px 2px 5px #c7c6c6;
    min-width: 300px;
    position: absolute;
    z-index: 10;
    background: #fff;
    display: none;
    top: 55px;
    transition: 0.5s;
}
.filter-content.open{
    display: block;
    top:40px
}
.filter-content:before{
    content: '';
    position: absolute;
    top: -10px;
    right: 35px;
    background: #e0dfdf;
    width: 16px;
    height: 10px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.input-group-addon {
    padding: 0 10px;
    background: #ccc;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    margin: 0 4px;
}

.select-option2{
    display: none;
}
.filter-content .btn-secondary{
    background: #29abe2 !important;
    border-color: #29abe2 !important;
}
.filter-content .btn-secondary:hover,
.filter-content .btn-secondary:focus{
    background: #1b075c !important;
    border-color: #1b075c !important;
}
.download{
    margin: 0 4px;
    color: #29abe2;
    font-size: 15px;
}
.download h3{
    font-size: 14px;
    text-transform: capitalize;
    margin-left: 5px;
    margin-top: 3px;
}
body{overflow-x:hidden;}


.filter-content{
    max-width: 420px;
}
/***********/
.select2-container .select2-selection--multiple .select2-selection__rendered{
    display: block !important;
}
.select2-container{
    width: 100% !important;
}


#myModalAssign .nav-tabs .nav-item{
    max-width: 100%;
}
.product-description small,
#myModalAssign .nav-tabs .nav-item a{
    word-break: break-all;
}
.product-miniature .product-description{
    min-height: 120px;
}
.iq-card.secondary-custom-card{
    margin-bottom: 0!important;
}
/*.hover-circle{*/
/*    background: #29abe266;*/
/*    padding: 13px 5px;*/
/*    border-radius: 0;*/
/*    top: -7px;*/
/*}*/
/*.wrapper-menu.open .ri-arrow-right-s-line,*/
/*.wrapper-menu.open .ri-arrow-left-s-line{*/
/*    display: block !important;*/
/*}*/
/*.iq-menu-bt .wrapper-menu.open{*/
/*    position: relative;*/
/*    left: -155px;*/
/*}*/
.iq-top-navbar .iq-navbar-custom .iq-menu-bt{
    display: none !important;
}

@media (max-width: 1299px){
    body.sidebar-main .iq-sidebar,
    .iq-sidebar{
        top:80px;
    }

}
.paginate_button.disabled, .paginate_button.disabled:hover {
    background: #1c085c;
    color: #ffffff!important;
    border-color: #ffffff;
    /* border: 0; */
}

.digits label{
    width: 100%;
}
.digits label i {
    line-height: inherit;
    cursor: pointer;
    color: #0a4c77;
}
.digits .form-control{
    opacity: 0;
    z-index: 1;
    position: absolute;
}
.digits .digitsSpan {
    position: inherit;
    bottom: 0;
    height: 40px;
    right: 0;
    left: 0;
    z-index: 9;
}

.digits .digit{
    width: 34px;
    height: 34px;
    border: 1px solid #666;
    display: inline-block;
    text-align: center;
}
.digits .digitsSpan span{
    width: 34px;
    height: 34px;
    display: inline-block;
    position: relative;
    margin-right: 6px;
}
.digits .digitsSpan span i{
    position: absolute;
    bottom: 0;
    right: 0;color: #b90202;
    font-size: 10px;
    cursor: pointer;
}
.digits .digitsSpan .digit::after{
    content: "-";
    position: absolute;
    width: 10px;
    height: 10px;
    display: block;
    background: red;
    color: white;

}
.offline {
    border-bottom: 5px solid red!important;
}
.offline h3 b {
    color: red;
    font-size: 50px;
    font-weight: 900;
}
.online {
    border-bottom: 5px solid green!important;
}
.online h3 b {
    color: green;
    font-size: 50px;
    font-weight: 900;
}

div.dataTables_wrapper div.dataTables_info {
    padding: 0.85em 0;
    display: block;
    width: 100%;
    text-align: center;
}
div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: center!important;
    display: block;
    width: 100%;
}
